*{
    margin: 0;
    padding: 0;
}

#workcont{
    padding: 50px;
    text-align: center;
}
.direct-link {
      text-align: center;
      padding: 50px;
}

.direct-link a {
      text-decoration: none;
      margin: 0 4px;
      color: gray;
}

.direct-link a:hover {
      color: #000;
}
